<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="EmployDB" connectionString ="server=192.168.10.191;database=EmployDB;User Id=sa;Password=S33@||;" />
    <add name ="EmployeeRequestDB" connectionString ="server=192.168.10.250;database=EmployeeRequestDB;User Id=EmplyUser2;Password=S33@||;" />
  </connectionStrings>
</configuration>