<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="EmployDB" connectionString ="Server=.;Database=EmployDB;Trusted_Connection=True;" />
    <add name ="EmployeeRequestDB" connectionString ="Server=.;Database=EmployeeRequestDB;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>